@import "tailwindcss";

* {
  outline: none;
  box-sizing: border-box;
}

@theme {
  --color-primary-700: #166534;
  --color-primary-600: #15803d;
  --color-primary-300: #13ec5b;

  --color-vulcan-700: #101622;
  --color-vulcan-600: #1f2937;

  --color-gold: #ca8a04;
  --color-denim: #135bec;
  --color-crimson: #dc2626;
  --color-royalblue: #2563eb;
  --color-dark: #111318;

  --color-grey-700: #f6f6f8;
  --color-grey-600: #f3f4f6;
  --color-grey-500: #9ca3af;
  --color-grey-text: #4b5563;
  --color-grey-heading: #6b7280;

  --color-white: #ffffff;
}
